body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo p {
    font-size: 1.5em;
    margin: 0;
}

header nav {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

/* Estilos da seção principal */
.main-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos da seção do formulário */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

form input[type="text"],
form input[type="file"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #218838;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header .navegacao li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}